    #firstTitle {
        background: green;
        font-weight: bold;
    }
    
    #secondTitle {
        background: green;
        font-weight: bold;
    }
    
    #submit {
        background: pink;
    }
